*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: gotham;
    src: url(/fonts/gotham-bold.otf);
}

#hero {
    min-height: 100vh;
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: #1a75b7; */
    background-color: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

h1 {
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: gotham;
    position: absolute;
    left: 35%;
    top: 40%;
    text-align: center;
    background-color: #1a75b7; 
    padding: 1rem;
}

body{
    background: #1a75b7;
    font-family: gotham;
    width: 100%;
}

nav{
    background: white;
}

.titulo{
    color: #326789;
    width: 100vw;
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20;
    margin: 0 auto;
    margin-top: 30px;
}

.card{
    max-width: 250px;
    position: relative;
    padding: 15px 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 5px;
    background: #1a75b7;
    box-shadow: 2px 2px 5px rgb(66, 66, 66);
}

.imgProducto{
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;
}

p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-family: gotham;
    padding: 10px;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.btnAgregar{
    height: 40px;
    padding: 0 15px;
    border-radius: 25px;
    border: 2px solid #125585;
    background: white;
    color: #1a75b7;
    font-family: gotham;
    transition: .5s ease;
}
.btnAgregar:hover{
    background: #1a75b7;
    color: white;
}
.btnAgregar:active{
    background: #1a75b7;
}


.cart{
    position: absolute;
    right: 35px;
    top: 25px;
    text-decoration: none;
}

.cartIcon{
    width: 30px;
}

.cartContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.txtCarrito{
    text-align: center;
    color: white;
    margin: 30px;
}
.btnVolver{
    text-decoration: none;
    width: fit-content;
}
.btnVolver button{
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #1a75b7;
    font-family: gotham;
    transition: 0.5s ease;
    border: none;
}

.btnVolver button:hover{
    color: white;
    background: #1a75b7;
}


#cartCounter{
    position: absolute;
    width: 15px;
    height: 15px;
    color: white;
    background: black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
}

.tableContainer{
    display: flex;
    justify-content: center;
}

table{
    border-radius: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

table tr th:first-child{
    width: 80px;
}

table tr th:nth-child(2){
    width: 300px;
}

thead tr th{
    background: #1a75b7;
    color: white; 
}

thead tr th:first-child{
    border-radius: 10px 0px 0px 0px;
}

thead tr th:last-child{
    border-radius: 0px 10px 0px 0px;
}


tbody tr:nth-child(even){
    background: #1a75b7;
}

tbody tr:nth-child(odd){
    background: #78A6C8;
}

tfoot tr th{
    background: #1a75b7;
    color: white;
}

tfoot tr th:first-child{
    border-radius: 0px 0px 0px 10px;
}


tfoot tr th:last-child{
    border-radius: 0px 0px 10px 0px;
}

th{
    background: transparent;
}

.imgProdCart{
    width: 80px;
    margin: 3px;
    border-radius: 5px;
}

.detallesTabla{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trash{
    width: 30px;
}

.nombreProd{
    padding-left: 10px;
}

.txtTotal{
    text-align: right;
    padding: 10px;
}

.txtTabla{
    padding: 10px;
    font-size: 20px;
}

.btnTerminar{
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #1a75b7;
    font-family: gotham;
    transition: 0.5s ease;
    border: none;
}

.btnTerminar:hover{
    color: white;
    background: #1a75b7;
}

.productoEnCarrito{
    display: inline-block;
    flex-wrap: wrap;
    color: white;
    margin: 15px;
}

.btn-color{
    background-color: #125585;
    border-color: white;
    color: white;
}

.btn-color:hover{
    color: #1a75b7;
    background: white;
    border-color: #1a75b7;
}

h4{
    padding: 3rem;
    font-size: 30px;
}
